.train {
  background: url("/src/train.jpg");
  background: cover;
  background-size: cover;
}

.form-container {
  border: 0px solid white;
  padding: 50px 40px;
  margin-top: 20vh;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 26px 11px rgba(0, 0, 0, 0.75);
}

.colors {
  /*background-color: rgba(45, 26, 61, 0.75);*/
  background: linear-gradient(rgba(46, 31, 61, 0.75), rgba(141, 22, 165, 0.75));
}

i {
  color: aqua;
  text-align: center;
  font-size: x-small;
  font-family: cursive;
}
